html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#map {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.custom-infobox {
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size:14px;
    margin: 10px;
    padding: 10px;
    pointer-events:auto !important;
}

.custom-infobox .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}

#searchbox-container {
    margin: 5px;
    position: absolute;
    z-index: 1;
}

#searchbox, #searchbox input {
    font-size: 14px;
    line-height: 18px;
    padding: 3px;
    width: 20em;
}
